<div color="primary" class="footer-toolbar">
  <div class="footer-container">
    <div class="footer-column">
      <h3><strong> Contact Details:</strong></h3>
      <p>Telephone: 01895 440831</p>
      <p>Fax: 01895 420722</p>
      <p>Network House</p>
      <p>Bentinck Court</p>
      <p>Bentinck Road West Drayton,</p>
      <p>Middlesex UB7 7RQ</p>
    </div>
    <div class="footer-column">
      <h3><strong> Business Info:</strong></h3>
      <p>Company No: 7685609</p>
      <p>CQC Provider ID: 1-331547578</p>
      <p>Regulatory Authority:</p>
      <p>(CQC) Care Quality Commission</p>
      <p>Privacy Policy</p>
    </div>
  </div>
</div>

<!-- <div color="primary" class="footer-toolbar">
  <div class="footer-container">
    <div class="footer-column">
      <h3>Contact Details:</h3>
      <p>T: 01895 440831 | F: 01895 420722</p>
      <p>Network House</p>
      <p>Bentinck Court</p>
      <p>Bentinck Road West Drayton,</p>
      <p>Middlesex UB7 7RQ</p>
    </div>
    <div class="footer-column">
      <h3>Business Info:</h3>
      <p>Company No: 7685609</p>
      <p>CQC Provider ID: 1-331547578</p>
      <p>Regulatory Authority:</p>
      <p>(CQC) Care Quality Commission</p>
      <p>Privacy Policy</p>
    </div>
  </div>
</div> -->
