<h2>Client types</h2>
<ul>
  <li>
    We provide a service to adults from the age of 18 to 65plus. We therefore
    are able to support transition arrangements from children’s services for
    clients who are 18 years old and enroute to the adults’ services at age 19
    years old.
  </li>
  <li>
    We support clients who are difficult to place by virtue of unsatisfactory
    care delivery or not fitting into traditional care arrangements.
  </li>
  <li>We support people with behavioural difficulties / challenges.</li>
  <li>We support clients with epilepsy seizure disorder.</li>
  <li>We support people with autism.</li>
  <li>We support clients with a prognosis of dementia.</li>
  <li>
    We support clients with specific religious, cultural or dietary preferences.
  </li>
  <li>
    We support clients with mental health issues who have agreed after Care
    discharge to the community
  </li>
</ul>

<h2>Staff vetting</h2>
<p>
  We believe our staff are at the core of the service experience therefore we
  want to ensure all are staff are able to meet the expectation of our clients.
  There are a number of measures we take to do this:
</p>
<ul>
  <li>
    <strong>DBS checks</strong> are performed upon registration furthermore,
    this is supported by at least two professional and character references
    which is mandatory for all staff providing care in the community.
  </li>
  <li>
    CTRC Staff Quality Assurance is how we make sure that the care provided is
    professional and consistent for all our clients, there are several ways we
    do this these include regularly performing staff supervision and appraisal,
    spot checks and training assessments.
  </li>
  <li>
    There is a basic level training we require from our staff before they can
    provide care for us in the community and some of these include:
  </li>
</ul>
<ul>
  <li>Understanding the role of a Support Worker</li>
  <li>Recording Information in Writing and Electronically</li>
  <li>Confidentiality</li>
  <li>The Personal Development of each member of Staff in CTRC</li>
  <li>Equality, Diversity and Inclusion</li>
  <li>Working in a Person Centred Way</li>
  <li>Effective methods of Communication</li>
  <li>Privacy and Dignity in Care</li>
  <li>Safe food preparation – fluids and nutrition</li>
  <li>First Aid training</li>
  <li>Dementia and cognitive issues</li>
  <li>Protection and Safeguarding Vulnerable Adults</li>
  <li>Basic Life Support</li>
  <li>Moving and Handling People</li>
  <li>Hygiene, Infection Control and Prevention</li>
  <li>Recognising and Managing Challenging Behaviour</li>
  <li>Epilepsy Awareness</li>
  <li>Safe Use of Medicine</li>
</ul>
