<div class="content">
  <h1>Supported Holidays</h1>

  <section class="personal-holidays">
    <h2>Personal holidays and trips</h2>
    <p>
      If you have a trip you wish to organise or want us to organise with full
      support, we are happy to accommodate. The cost of such a service is
      dependent on a number of variables such as how long you wish to travel,
      care services required and destination. Therefore we recommend contacting
      us for further information.
    </p>
  </section>

  <section class="activictus">
    <h2>Activictus</h2>
    <p>
      <strong>CTRC</strong> operates its own holiday scheme for learning
      disabled adults in a number of holiday resorts abroad.
    </p>
    <p>
      The holiday scheme is great for group activities to promote fitness,
      recreational activities and social development.
    </p>
    <p>
      If you are interested in finding out upcoming dates and more about the
      scheme please take a look at the <a href="#">Activictus Website</a>.
    </p>
  </section>
</div>
