<div class="content">
  <p>
    <strong>CTRC</strong> helps adults make the right choices about their
    support.
  </p>
  <ul>
    <li>
      <strong>CTRC</strong> Supports each Service User as an individual,
      listening to and working with each person
    </li>
    <li>
      <strong>CTRC</strong> uses a person centred approach to help each Service
      User plan his/her support and make the most of his/her allocated budget
    </li>
    <li>
      <strong>CTRC</strong> Helps Service Users decide who will give support to
      help him/her achieve goals and aspirations
    </li>
    <li>
      <strong>CTRC</strong> Support Workers adapt to Service Users’ needs and
      aspirations as they change, helping them access social, leisure, education
      and employment opportunities and activities within their local community
    </li>
  </ul>

  <p>
    The support <strong>CTRC</strong> provides is tailored to meet each person’s
    individual needs and requirements, enabling them develop and maintain their
    independence, build and maintain their circle of support, develop and
    enhance their life skills and live life to the full.
  </p>
  <p>
    Our person centred approach is <strong>CTRC’s</strong> way of making sure
    that we do a good job of listening to what you really want
  </p>
  <p>
    <strong>CTRC</strong> will listen to you and help you think about what you
    want now and in the future.
  </p>
  <p>
    <strong>CTRC</strong> will work with you, your family and friends, Social
    Service and Health Service professionals to enable you reach your full
    potential. We also work with charities and other community projects to
    assist you in work experience and gain confidence within the community.
  </p>
  <p>
    <strong>CTRC</strong> Support Workers help you to make the changes you want
    in your life putting you at the centre of planning for your life.
  </p>
</div>
