<h3>Our Vision</h3>

<p>
  To deliver a high standard of training for those serving the community. CTRC’s
  training will be viewed as the benchmark for other providers to follow. To
  provide a model of care that is holistic, flexible and accessible. To adopt a
  person-centred approach that listens to and addresses the complexity of needs
  that each individual brings. To care for vulnerable adults in a safe
  environment To encourage lifestyle changes and personal development to our
  service users To provide short breaks and supported living accommodation. To
  promote employment opportunities that will enrich personal lifestyles to
  enable our service users to become valued citizens. To provide a service that
  is specific, measurable, attainable, realistic and reproducible.
</p>
<h3>Our Values</h3>

<p>
  We believe good quality care encompasses the emotional, physical and social
  well-being of the learning disabled person, which is what we strive for. We
  believe that family and friends play an integral and irreplaceable role in
  supporting the emotional and social well-being of the person with a learning
  disability. We believe is our responsibility to provide a care service that
  delays the need for admission to residential care and thus keep the user in
  the community for as long as they desire. We believe that clients should have
  control over their own lives and make informed decisions that are important to
  them.
</p>
