Outreach The Outreach service provided by CTRC is for adults with a learning
disability who require specialist support. This group of Service Users would
have ‘Challenging Behaviour’ and, because of the risks associated with those
behaviours, pose a risk to themselves, to other people in their community and to
their Support Workers. The CTRC Care Manager undertakes comprehensive
assessments that include a full report of the challenging behavior of the
Service User. CTRC will undertake an Outreach package of Support/Care only when
a thorough understanding of the risks involved have been assessed. Often, if the
challenging behaviour is severe, 2 Support Workers will be employed so that the
Service User can access his/her community with minimum risk to others. This
support is highly specialised and CTRC ensures that the Support Workers have
completed specific courses that address the issues that may arise. No matter
what level of challenging behavior is displayed CTRC maintains that each person
has the right to access their community and take part in leisure activities.
