Supported Holidays Personal holidays and trips If you have a trip you wish to
organise or want us to organise with full support, we are happy to accommodate.
The cost of such as service is dependent on a number of variables such as how
long you wish to travel, care services required and destination. Therefore we
recommend contacting us for further information. Activictus CTRC operates its
own holiday scheme for learning disabled adults in a number of holiday resorts
abroad. The holiday scheme is great for group activities to promote fitness,
recreational activities and social development. If you are interested in finding
out upcoming dates and more about the scheme please take a look at the
Activictus Website
