<div class="content">
  <p>
    Individual and personal budgets puts each person at the centre of their
    support and gives Service Users greater control and freedom over the support
    that they receive; and provides them with a clear understanding of how much
    support they are entitled to and how they will receive that support.
  </p>
  <p>
    The Service User and his/her support network can decide how to use their
    allocated budget, giving them the freedom to choose the services and support
    that best meets their needs and goals to:
  </p>
  <ul>
    <li>
      Support them to develop their independent living skills and build and
      maintain their social network
    </li>
    <li>
      Access their local community including social, leisure, voluntary work,
      education and employment activities and other opportunities
    </li>
    <li>Be supported in the home</li>
    <li>Go on holiday, take a short break with their family or</li>
    <li>Enable their family to have respite</li>
    <li>
      Support them with daily living tasks, with their personal care tasks and
    </li>
    <li>Help them access their local healthcare professionals when required</li>
  </ul>
</div>
