Transitional Support CTRC provides young adults with support and information on
a range of issues to help them choose the right support and care package to meet
their needs, typically when they move from school or college into the adult
environment. CTRC offers a smooth transition and understands that, when a young
person reaches adulthood, a move away from the family home or leaving a
residential college can be a very daunting and intimidating experience and
process CTRC is available to offer the young person and his/her family advice,
support and information on a range of issues – from housing provision, day time
activities, employment and support, to individual and personal budgets and
benefits – to help them choose the right support package to meet their current
and future needs. The young Service User may be looking for CTRC to provide
supported living for a few hours a week, or 24/7, either within their family
home or as a tenant in rented accommodation. Whatever their needs, we can tailor
our services to meet their requirements.
