<p>
  CTRC (community training and Respite care) is a not-for-profit organisation
  known as a community interest company limited by guarantee.
</p>
<p class="important">
  This means 100% of profits are invested into the community.
</p>
<p>
  The enterprise was created out of a need for a support provider that supports
  learning disabled people to reach their personal and professional aspirations,
  whatever they may be, through the use of person-centred-planning.
</p>
<p>
  At current we provide services to learning disabled people in the following
  areas:
</p>
<ul>
  <li>Royal Borough of Kensington and Chelsea</li>
  <li>London Borough of Hounslow</li>
  <li>London Borough of Hillingdon</li>
  <li>Other regions including, Surrey and other parts of Greater London.</li>
</ul>
<p>
  CTRC CIC is registered on a number of care directories these include the west
  London alliance and NHS choices websites.
</p>

<h2>Company Timeline</h2>
<ul>
  <li>
    In June 2011 CTRC Community Interest Company was registered at Companies
    House
  </li>
  <li>In July 2011 the company Interest welcomed its first Trustee</li>
  <li>
    In December 2011 the company was granted a registration with the Care
    Quality Commission
  </li>
  <li>In January 2012 the company welcomed its first client</li>
  <li>
    In February 2013 the company had its first regulatory inspection and passed
    all standards set.
  </li>
  <li>
    In February 2014 the company moved its head office to Bentinck Court, West
    Drayton
  </li>
  <li>
    In October 2014 the company’s end of year accounts showed that it was
    operating a viable business
  </li>

  <li>
    In June 2015 the company launched its assisted holiday service in Centre
    Parcs UK
  </li>
  <li>
    In July 2015 the company secured National Lottery funding through the BIG
    Potential fund
  </li>
</ul>
