<p>
  CTRC Community Interest Company has worked with a number of organisations that
  have helped us have a positive impact on the disabled community. Some of the
  organisations include:
</p>
<ul>
  <li>Dementia Friends</li>
  <li>MIND (mental health charity)</li>
  <li>DASH (Disablement Association Hillingdon)</li>
  <li>HAS (Hillingdon Association of voluntary services)</li>
  <li>Hillingdon CCG (NHS)</li>
  <li>Autistic Society</li>
</ul>
<p>
  Our past partnership with private company Training Partners LTD resulted in
  the setup of a holiday scheme, for disabled people with a health benefit that
  provides disabled people an opportunity to travel throughout the UK and
  abroad. For more information please see <a href="#">Supported Holidays</a>.
</p>
<p>
  As we are always seeking to increase our impact on the community we are
  interested in working with people and organisations, in both the private and
  voluntary sector, that share a similar passion and enthusiasm for helping
  disabled people in the community.
</p>
<p>
  Our management team are interested in hearing new ideas on ways to help people
  in the disabled community, so if you have any or would like to discuss them
  you may <a href="#">contact us</a>.
</p>
