<ul>
  <li>
    Our organisation is very hands-on and has a culture of being personable with
    clients and staff.
  </li>
  <li>
    Our care management team has many years of experience in developing people
    with learning disability and have a good understanding of their potential
    and therefore are able to help them meet their personal goals.
  </li>
  <li>
    As a non-for profit organisation we are not profit driven and therefore are
    able to put quality of care at the core of what we do.
  </li>
  <li>
    The organisation is constantly seeking innovative ways to better the lives
    of the vulnerable members of our society.
  </li>
</ul>
