Respite Care CTRC’s short break respite services are tailored to offer families
choice a relief from the care work they provide. During this break we will
provide the high level standard of support that one would expect from a care
service. The below are some typical examples of why you would use this service:
It may be that a CTRC Support Worker will accompany you on a short break away
from your home. It may be that a CTRC Support Worker will move into your home
and support you whilst your family goes away for a short break It may be that
you move to a respite care home and receive full support for a few days or so.
This enables you to make friends with other Service Users who are in respite at
the same time and you can join in group activities. Whatever the choice is, CTRC
Support Workers will make sure that it is a stress free time for you and fulfils
your needs.
