<h1>Finding the Right Care for your Needs</h1>
<p>
  <strong>CTRC</strong> embraces individuality and ensures that all the services
  we provide are based on individual assessment and planning that reflects
  individual needs and personal preferences.
</p>
<p>
  <strong>CTRC</strong> ensures that all Service Users are thoroughly assessed
  before the provision of any care and support. Once assessments have been
  completed we aim to meet the Service User’s identified needs. We also aim to
  provide flexibility to change the needs and requirements of the Service User,
  and thus the level of support, as and when required. This change in provision
  of support is identified through the review process.
</p>
<p>
  The assessment process is outcome led. This means that during the assessment,
  the <strong>CTRC</strong> Care Manager will ask what you want to achieve and
  write this down as a goal or outcome for the support that you are given. Then,
  at the review process we, and you, can see whether or not you have achieved
  the goals/outcomes that you set.
</p>
<p>
  <strong>CTRC’s</strong> aim is for all the people we support to be able to
  answer yes to each of the following statements:
</p>
<ul>
  <li>I am safe and not being taken advantage of in any way</li>
  <li>I am safe from all forms of abuse and neglect</li>
  <li>I am safe and secure in my home</li>
  <li>I am supported if I am unwell</li>
  <li>
    I have a support plan focused around my needs which is regularly updated
  </li>
  <li>I receive support delivered in a dignified manner</li>
  <li>I am not discriminated against for my chosen lifestyle</li>
  <li>I am not discriminated for any disability I have</li>
  <li>I am shown privacy when I request it</li>
  <li>I am listened to</li>
  <li>I am treated with sensitivity for my needs</li>
</ul>
<p>
  <strong>CTRC</strong> meets the above aims and objectives by working to
  policies and procedures that promote high quality principles that take into
  consideration rights, privacy, independence, security, civil rights, choice
  and fulfilment.
</p>
<p>
  Before we provide a service, we ensure that your needs and preferences are
  thoroughly assessed by our experienced staff. <strong>CTRC</strong> aims that
  needs are re-assessed as frequently as necessary, and that the support
  provided has the flexibility to respond to your changing requirements.
</p>

<mat-tab-group style="padding: 10px; background-color: #f1f1f1">
  <mat-tab label="Review Process">
    <p>
      <strong>CTRC</strong> Care Manager meets with the Service User, and/or the
      Service User’s representative or family member and talks about whether or
      not goals/outcomes have been met.
    </p>
    <ul>
      <li>
        If they have, are there new goals/outcomes that the Service User would
        like to achieve?
      </li>
      <li>
        If the goals/outcomes have not been achieved, what can
        <strong>CTRC</strong> Support do to help the Service User achieve them?
      </li>
      <li>What changes do we need to make?</li>
      <li>
        Are the goals/outcomes unachievable or can we adapt them so that the
        Service User can achieve them?
      </li>
    </ul>
    <p>
      The review process offers the opportunity for the Service User to talk in
      confidence about:
    </p>
    <ul>
      <li>The support that he/she has received</li>
      <li>
        Whether the <strong>CTRC</strong> Support Worker(s) has given a good
        service
      </li>
      <li>What are the perceived wrongs in the support given</li>
      <li>What is right about the Support given</li>
      <li>
        What changes would the Service User like to his/her provision of
        Support/care
      </li>
      <li>The punctuality of the Support Workers.</li>
    </ul>
    <p>
      The Review Process gives <strong>CTRC</strong> the opportunity to test the
      effectiveness of the service and gives the <strong>CTRC</strong> Care
      Manager valuable feedback on the service provision. We value criticism so
      long as it is something that is within our ability to change
    </p>
    <p>
      <strong>CTRC</strong> will always co-operate with Service Users and other
      professionals so that the Service User can maintain his/her independence.
      We review our aims and purposes on a regular basis to make sure that we
      are giving the best Support possible
    </p>
    <p>
      <strong>CTRC</strong> does not believe in ‘one size fits all’ – we do
      believe in each person’s uniqueness and individuality and our person
      centred approach ensures that this is the case
    </p>
    <p>
      <strong>CTRC</strong> is a leading provider of support services for adults
      with disabilities who have diverse and often complex needs.
    </p>
    <p>
      Adults using our services are always at the centre of the provision of
      support. Whether it’s supporting a person for just a few hours each week,
      to 24 hour support 7 days a week, we adapt to each person’s needs and
      aspirations as they change, enabling every person we support live his/her
      life to the full.
    </p>
  </mat-tab>

  <mat-tab label="Person Centered Approach">
    <p>
      <strong>CTRC</strong> provides person-centred support for adults with a
      disability and seeks to provide opportunities for such people to lead
      fulfilling and active lives through the creation and provision of
      enjoyable and stimulating opportunities.
    </p>

    <p><strong>CTRC</strong> promises to:</p>

    <ol>
      <li>Put you at the centre of the support that we provide</li>
      <li>Treat you with respect</li>
      <li>Ask for your views</li>
      <li>Listen to what you tell us</li>
      <li>Act on what you say</li>
      <li>Help you to understand information</li>
      <li>Enable you to make decisions</li>
      <li>Support you to work towards your goals</li>
      <li>Support you to have control over your life</li>
      <li>
        Support you to keep in contact with people who are important to you
      </li>
      <li>Give you choice about the support you are given</li>
      <li>Support you to have and keep your home</li>
    </ol>

    <p>
      <strong>CTRC</strong> has a reputation for providing high-quality,
      innovative services designed around the needs of individuals. This is
      achieved through a highly experienced and committed senior management
      team, as well as trained and effectively supported staff teams.
    </p>

    <p>
      <strong>CTRC</strong> recognises each individual as unique and valued. We
      aim to ensure that every person is treated with respect and dignity at all
      times and receives the support they need to be valued members of society.
      We respect the right to privacy of all the people we support and make sure
      that our staff are trained to understand their role in these and all other
      areas. We also work closely with people and their families to help them to
      make choices about how they live their lives and how to manage the risks
      that come with daily living.
    </p>
  </mat-tab>

  <mat-tab label="Service Users Achievements">
    <p>
      We ensure consistency of approach and successful achievement, through
      defining, recording and measuring outcomes that are embedded in the
      service we provide.
    </p>

    <p>These include:</p>

    <ol>
      <li>
        Detailed and specific means to achieve social interaction, communication
        and independence skills
      </li>
      <li>Well planned and structured activities</li>
      <li>
        Consistency and stability in your environment and in all communications
      </li>
      <li>Continuous motivation and positive interaction</li>
      <li>Specialised training for your support team if required</li>
      <li>Access to sensory environments</li>
      <li>Access to community and leisure activities</li>
      <li>
        Providing each person with the emotional and practical support they need
        to help them to live life to the full.
      </li>
    </ol>
  </mat-tab>
</mat-tab-group>
