<p>
  Care Services My Stories These stories give insight into how are services can
  be used to positively impact the lives of our clients. JW, Male, 29 years old,
  Non-verbal autistic Since I joined the company I have been doing more
  activities in the community than with my previous agency, which has helped me
  gain more confident in public settings, I am now able to select and pay for
  food when I am out with support staff in shops. Some of the activities include
  art, swimming, keep fit sessions and music lessons as a result I am a lot
  calmer and can participate in group activities and go out in public with less
  incidents occurring than before. SH, Female, 29 years old, Mild mental health
  issues I recently joined the organisation and dealt with depression and
  disability in the past, I received my assessment from the organisation and
  they believe that despite the issues I can still become a valuable and
  contributing member of society through paid employment. Therefore they are
  supporting me through a volunteer position where some of my responsibilities
  include filing, budgeting, however the best part is that it is helping me
  overcome my shyness and is enabling me to communicate better with people. NB,
  Male, 41 years old, Cerebral Palsy I enjoy participating in many activities
  and volunteering in my local community, since my father passed away recently I
  have felt more passionate about contributing more and I do not want my
  perceived disabilities to disable me from the things that I feel passionate
  about. CTRC spent a lot of time trying to match my skills with a support
  worker who would understand them so that we can push each other to be
  productive and enjoy the activities we do together. My staff are trained by a
  physiotherapist which means they can help me with my exercises in the pool,
  they enable me to access my activities and help me with my volunteering by
  using their skills to encourage communication when I have difficulty in
  speaking
</p>
