
h1 {
    color: #6A5ACD;
}

h2 {
    color: #A52A2A;
}

.important {
    font-weight: bold;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

a {
    color: #A52A2A;
    text-decoration: none;
}

.services-container {
    display: flex;
    justify-content: space-between;
}

.services-container ul {
    width: 45%;
}
