<p>
  We specialise in and providing range of floating and intensive support as we
  believe quality care is directly linked to time spent, therefore we advise a
  minimum of six hours a day once a week be provided to deliver some the
  services below:
</p>
<!-- <div class="services-container"> -->
<div>
  <ul>
    <li>Sleep in care</li>
    <li>Waking night care</li>
    <li>Sitting/companionship service (respite) Tasks of;</li>
    <li>Outreach service/Community Access</li>
    <li>Leisure Activity facilitators</li>
    <li>Employment support</li>
    <li>Access to education facilities</li>
    <li>Travel training</li>
    <li>Housing Management</li>
    <li>Health Care Promotion</li>
    <li>Family contact: to name a few.</li>
    <li>
      Medication Administration but not injections or any invasive
      administration without specialist training and risk assessment.
    </li>
    <li>Support with independent living skills</li>
  </ul>
  <ul>
    <li>Nutritional assistance with food and drink</li>
    <li>
      We also support clients, families and fund holders look for suitable
      properties if required.
    </li>
    <li>Support for holidays</li>
    <li>Respite supported care</li>
    <li>We provide support to draw up and meet person centred plan</li>
    <li>Transition management and support from child to adult services.</li>
    <li>We will support in applying for and pursuing benefits application.</li>
    <li>
      Our task is to use our expertise in joint partnership with clients,
      families and statutory services to ensure smooth transition of care
      arrangements.
    </li>
  </ul>
</div>
